/* login */
body{padding: 0;margin: 0;font-family: Roboto,sans-serif;color: #242424;font-size: 13px;}
*{margin: 0;padding: 0;outline: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-mos-box-sizing: border-box;}
a{text-decoration: none;}
.mask {width: 100%;height: 100%;background: rgba(0, 0, 0, .7);z-index: 998;position: fixed;top: 0;display: none;}
.login-box {width: 360px;margin: 7% auto;max-width: 100%;}
.login-box .card {border-radius: 0;padding: 15px;border: solid 1px #9f9f9f;}
.card-body{padding: 1.25rem 1.25rem 10px 1.25rem;}
.loginbox-title{text-align: center;margin-bottom: 20px;}
.login_log {max-width: 250px;}
.input-group{position: relative;display: flex;margin: 10px 0;}
.input-group .input-group-text{border: 1px solid #ced4da;width: 48px;height: 36px;text-align: center;border-right: 0;}
.input-group .form-control{border: 1px solid #ced4da;width: 100%;line-height: 36px;height: 36px;border-radius:0;padding: 0 10px;border-left-width: 0;font-size: 14px;}
.input-group-text img{width: 70%;height: 70%;margin-top: 5px;}
.form-control::placeholder, select.form-control option {color: #6c757d;opacity: 1;font-weight: 400;}
.btn-main{background-color: #f9d949;display: block;width: 100%;text-align: center;border: 0;color: #000200;padding: 9px 0;cursor: pointer;text-transform: uppercase;font-size: 16px;margin-top: 25px}
.btn-main:hover{background-color: #3C911B;color: #fff}
.input-group .fa{color: #7d7d7d;padding: 8px 0;font-size: 18px;}
.bottom a{color: #3C911B;}
.custom-checkbox{margin: 10px 0;}
.auth-sep{margin: 20px 0 0 0;text-align: center;position: relative;}
.auth-sep a{color: #007bff;text-decoration: none;font-weight: 400;font-size: 15px;}
.auth-sep a:hover{color: #0056c1;}
.auth-sep::before{position: absolute;background-color: #ccc;height: 5px;width: 100%;content: '';left: 0;height: 1px;top:6px;z-index: 0;}
.auth-sep span{background-color: #fff;margin-top: -11px;display: inline-block;padding: 0 10px;z-index: 1;position: relative;}
.clr{clear: both;}
.copyright{text-align: center;color: #11497e;font-style: italic;text-shadow: 1px 1px 2px #ccc;}
.copyright a{color: #007bff;}
.copyright a:hover{color: #0056c1;}
.custom-control-input {position: absolute;z-index: -1;opacity: 0;}
.custom-control-label{position: relative;padding-left: 25px;}
.custom-control-label::before {position: absolute;top: 0;left: 0;display: block;width: 1rem;height: 1rem;content: "";background-color: #dee2e6}
.custom-checkbox .custom-control-input.checkbox-main:checked ~ .custom-control-label::before {background: #242d3a;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");}
.custom-control-label::after {position: absolute;top: 0;left: 0;display: block;width: 1rem;height: 1rem;content: "";background-repeat: no-repeat;background-position: center center;background-size: 50% 50%;}
.forgot_pw{display: none;}
.forgot_pw .btn-main{background-color: #356ea0;border: solid 1px #024a88;}
.forgot_pw .btn-main:hover{background-color: #024a88;}
.form-reg-popup {position: absolute;background: #fff;max-width: 90%;width: 800px;z-index: 9999;padding: 0;left: 0;right: 0;top: 50px;margin: auto;display: none;border-radius: 4px}
.modal-header{border-bottom: 1px solid #e9ecef;padding: 15px;position: relative;}
.modal-header .title{font-size: 14px;font-weight: 700;}
.form-reg{float: left;width: 100%;padding: 15px;}
.form-reg .left{width: 50%;float: left;padding-right: 16px;}
.form-reg .right{width: 50%;float: left;padding-left: 16px;}
span.mustInput {color: red !important;}
.form-reg  label{float: left;width: 36%;padding: 6px 0;}
.form-reg .row{float: left;width: 100%;margin-bottom: 5px;}
.form-reg  .row-items{float: left;width: 64%;}
.form-reg  .row-items input, .form-reg  .row-items select{width: 100%;height: 30px;line-height: 30px;padding: 0 10px;border: 1px solid #ced4da;color: #495057;font-size: 14px;font-weight: 400;font-family: Roboto,sans-serif;}
.form-reg .left-right label{width: 17.3%;}
.form-reg .left-right .row-items{width: 82.7%;}
.modal-footer{border-top: 1px solid #e9ecef;padding: 15px 30px;}
.row-btn{float: left;margin-right: 30px;}
.btn-main.btn-reg{background-color: #505761;border-color: #242d3a;width: 100px;}
.btn-main.btn-reg:hover{background-color: #242d3a;}
.btn-main.btn-cancel{background-color: #f0f0f0;border-color: #cccccc;width: 100px;color: #000;}
.btn-main.btn-cancel:hover{background-color: #cccccc;}
.msg-info{float: right;color: firebrick;font-style: italic;text-align: right;}
.form-reg  .row-items input::placeholder {color: #6c757d;opacity: 1;}
.row-items{position: relative;}
.date_d1{position: absolute;right: 0;top: 0;height: 100%;font-size: 11px;border-left: 1px solid #ced4da;width: 28px;padding: 8px 0;text-align: center;}
.date_d1 .fa{cursor: pointer;}
.close{position: absolute;right: 15px;top: 15px;font-size: 16px;color: #404040;cursor: pointer;}
.forget-pass{float: right;}
.forget-pass a{color: #3C911B;}
@media only screen and (max-width: 767px) {
    .form-reg-popup{top:10px}
    .form-reg .left, .form-reg .right, .form-reg label, .form-reg .row-items, .row-btn, .msg-info, .form-reg .left-right label, .form-reg .left-right .row-items{width: 100%;padding: 0;}
    .form-reg label, .form-reg .left-right label{padding-bottom: 5px;}
    .form-reg .left-right{float: left;width: 100%;}
    .form-reg .left, .form-reg .right, .form-reg .left-right{margin-bottom: 10px;}
    .row-btn{margin-bottom: 5px;}
    .btn-main.btn-reg, .btn-main.btn-cancel{width: 100%;}
    .form-reg .row{margin-bottom: 0;}
}





