#product h1{font-size: 16px;font-weight: 700;text-transform: uppercase;color: #01121e;padding-top: 18px;}
.icon-product{background: url('../img/product-home.png') no-repeat left top;padding:0 0 0 76px}
.icon-product.mobile{background-image: url('../img/product-mobile.png');}
.icon-product.web{background-image: url('../img/product-web.png');}
.icon-product.head{background-image: url('../img/product-head.png');}
.icon-product.fix{background-image: url('../img/product-fix.png');}
.icon-product.admin{background-image: url('../img/product-admin.png');}
header{background: url('../img/cover-2.jpg') no-repeat center top}
.title{text-align: center;color: #409047;font-size: 30px;text-transform: uppercase;line-height: 36px}
#product .title{text-align: center;color: #409047;font-size: 30px;text-transform: uppercase;padding-bottom: 50px;line-height: 36px}
section#product {padding: 20px 0;}
#product .des{opacity: 0.7;padding-bottom: 20px}
#demo{background-color: #f8f8f8}
#customer{background-color: #409047}
#customer .title{text-align: center;color: #fff;font-size: 30px;text-transform: uppercase;padding-bottom: 60px;line-height: 36px}
#customer .items{text-align: center}
#customer .items a{margin-top: 40px;}
#customer .items img{padding: 0 45px 0 45px;height: 90px;}
form input[type='text'], form textarea{width: 100%;border: solid 1px #dddddd;height: 50px;line-height: 50px;padding: 0 50px;font-size: 14px;margin-bottom: 25px;position: relative;}
form textarea{height: 200px;}
form button{background-color: #ffd800;border: 0;font-size: 16px;text-align: center;text-transform: uppercase;padding: 12px 0;width: 198px;}
form .user{position: relative;}
form .user::before{content: '';position: absolute;left: 15px;top:14px;background: url('../img/form-user.png') no-repeat center center;width: 20px;height: 20px;z-index: 1;}
form .user.tel::before{background-image: url('../img/form-tel.png')}
form .user.email::before{background-image: url('../img/form-email.png')}
form .user.content::before{background-image: url('../img/form-content.png'); width: 22px;}
#contact .title{text-align: center;color: #409047;font-size: 30px;text-transform: uppercase;padding-bottom: 20px;line-height: 36px}
#contact .des{opacity: 0.7;text-align: center;margin: auto;padding-bottom: 70px;font-size: 14px}
footer{background-color: #252525;color: #fff;font-size: 14px;padding: 20px 0;}
footer .copyright{opacity: 0.3;padding-top: 10px;}
footer .location{padding-left: 40px;background: url('../img/location.png') no-repeat left 5px;}
footer .location .name{opacity: 0.3;padding-bottom: 5px;}
footer .location .adress{max-width: 350px;}
footer .location.contact{background-image: url('../img/contact.png')}
footer .location.follow{background-image: url('../img/follow.png')}
span.Facebook{background: url('../img/Facebook.png') no-repeat left center;padding: 5px 15px;text-transform: uppercase}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{font-size: 14px;color: #fff;font-weight: normal;}
#mainNav{height: 100px;}
.container{position: relative}
.navbar-default .nav > li:last-child{border-left: solid 1px #e7e7e7;position: absolute;height: 100px;right: 0;top: 0}
#homeHeading{font-size: 43px;text-transform: uppercase;text-align: center;color: #fff;font-weight: 700;padding-top: 160px;line-height: 48px}
#slogan{color: #255;font-size: 20px;color: #fff;padding: 40px 0 80px 0;font-style: italic;line-height: 26px}
.app a{padding: 0 16px;}
.app a:last-child{padding-right: 0;}
.app a:first-child{padding-left: 0;}
#iphone{text-align: center;padding-top: 100px;}
#iphone img{max-width: 100%;}
select{background-color: transparent;border: 0;font-size: 14px;padding-left: 20px;margin-top: 36px;appearance: none;-moz-appearance: none;-webkit-appearance: none;background: transparent url('../img/ic-arrow-search-black.png') center right no-repeat;padding-right: 15px;color: #222;}
.navbar-default.affix select{color: #222;background-image: url('../img/ic-arrow-search-black.png')}
.navbar-default.affix .nav > li:last-child{border-color: #e7e7e7;}
.navbar-right{padding: 22px 130px 22px 0;}
img.logo{padding-top: 20px;}
#pricing .info{opacity: 0.7;text-align: center;padding: 25px 0;font-size: 14px}
.item-package{border: solid 1px #dddddd;padding: 30px;margin: 0 15px;position: relative;}
.item-package .name{color: #000000;font-size: 24px;text-transform: uppercase;}
.stroke{border-top: solid 1px #dddddd;margin: 23px 0 38px 0;}
.item-package .hotline{color: #000;font-size: 24px;margin: 25px 0 50px 0;}
.item-package .contact-name{opacity: 0.5;}
.item-package .buy{margin-top: 40px;}
.item-package .buy a{display: inline-block;background-color: #ffd800;width: 200px;text-align: center;padding: 12px 0;text-transform: uppercase;font-size: 16px;color: #000;}
.item-package .buy a:hover{text-decoration: none;color: #409047 !important;opacity: 0.8;}
.item-package.advance::before{content:'';position: absolute;right: 0;top:0;width: 96px;height: 97px;background: url('../img/most-popular.png') no-repeat right top;}
.item-package .des{line-height: 30px;font-size: 16px;}
.item-demo img{width: 100%}
.item-demo .col-lg-5{position: relative;}
.item-demo  .desciption{height: 374px;position: relative;}
.item-demo  .desciption .center{position: absolute;top: 50%;transform: translateY(-50%);width: 100%;padding-left: 120px;}
.item-demo  .desciption .title{text-align: left;line-height: 42px;}
.item-demo  .desciption .info{opacity: 0.7;padding-top: 30px;}
.owl-theme .owl-controls{width: 58.33333333%;text-align: center;margin-top: 15px;}
.navbar-default{background-color:  #fff !important;}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{color: #222 !important}
.navbar-default .nav > li > a:hover{color: #409047 !important}
#pricing a{color: #000}
#pricing a:hover{color: #409047;text-decoration: none}
#customer .items a:first-child img{padding-left: 0;}
#customer .items a:last-child img{padding-right: 0;}
#customer .owl-prev {background: url('../img/arr_prev_transparent.png') no-repeat;top: 0;}
#customer .owl-next {background: url('../img/arr_next_transparent.png') no-repeat;top: 0;}

@media only screen and (min-width: 1200px) and (max-width: 1258px) {
    .owl-prev{left: -15px !important;z-index: 100;background-image: url(../img/arr_prev-mb.png) !important}
    .owl-next{right: -15px !important;z-index: 100;background-image: url(../img/arr_next-mb.png) !important}
}
@media only screen and (max-width: 1199px) {
    .container-mb{margin: auto;width: 100%;}
    #customer .items a{display: block;}
    #customer .items a:first-child{margin-top: 0;}
    #customer .items a img{max-width: 100%}
    #customer .items img{height: auto;}
    
    .item-demo  .desciption{height: auto}
    .item-demo  .desciption .center{position: inherit;top: 0%;transform: translateY(-0%);width: 100%;padding-left: 0;padding-top: 20px;}
    .item-demo .desciption .info{padding-top: 20px;}
    
    .owl-prev{left: -15px !important;z-index: 100;background-image: url(../img/arr_prev-mb.png) !important}
    .owl-next{right: -15px !important;z-index: 100;background-image: url(../img/arr_next-mb.png) !important}
    
    .location{margin-bottom: 15px;}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .nav > li > a{padding: 20px 5px}
    .navbar-right{padding-right: 115px;}
    select{padding-left: 0;margin-top: 42px}
    .item-package .buy a{width: 150px;}
    .owl-theme .owl-controls{width: 100%}
    .item-demo {margin: auto;}
    .container-fluid{padding-left: 0;padding-right: 0}
    .navbar-default .nav > li:last-child{right: 10px;padding-left: 5px;}
    
    #product .des{min-height: 120px}
    
    #customer .items a{width: 50%;float: left;text-align: center;margin-top: 0;}
    #customer .items a img{max-width: 100%;}
    #customer .items img{padding: 20px 0;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav > li > a{padding: 20px 15px}
    select{padding-left: 10px}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #homeHeading{font-size: 38px}
    .app img{width:210px}
    .owl-prev, .owl-next{width: 50px !important;background-size: 100% auto !important;}
}
@media only screen and (max-width: 767px) {
    #customer .items img{padding: 0;}
    #homeHeading{font-size: 30px;line-height: 38px;padding: 0 15px;}
    .navbar-brand{position: fixed;left: 0;top: 0;}
    #mainNav{padding: 0;height: auto;}
    img.logo{padding-top: 0;}
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{color: #000;}
    #homeHeading{padding-top: 90px;}
    .app a{padding: 5px 0;display: block;}
    #slogan{padding: 30px 15px 30px 15px;}
    .navbar-right{background-color: #fff;}
    .container-fluid{padding: 0;}
    .navbar-default .navbar-header .navbar-toggle{right: 15px;}
    .navbar-default .nav > li:last-child{position: inherit;border-left:0;height: auto;}
    .navbar-default.affix .nav > li:last-child{border-color: #e7e7e7;}
    .navbar-right{padding: 0 0 12px 0;}
    select{color: #222;background-image: url('../img/ic-arrow-search-black.png');margin-top: 16px;}
    .owl-buttons{display: none;}
    .item-package .buy a{width: 150px;}
    .item-package{margin: 0 10px;}
    .owl-theme .owl-controls{width: 100%}
    #product .title{margin-top: 30px;padding-bottom: 30px;}
    
    #customer .title, #pricing .title, #product .title, #contact .title, .item-demo .desciption .title{font-size: 20px;line-height: 30px;}
    
    .nav > li{
        border-top: 1px solid #e7e7e7;
    }
    .navbar-default .navbar-collapse{border-color: transparent;}
    .navbar-nav{margin-top: 0;}
    .navbar-default .nav > li > a{color: #222 !important;}
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li.active > a{color: #409047 !important;}
}
@media only screen and (max-width: 487px) {
    .item-package{margin: 0;}
    .record{display: block;}
    
}
@media only screen and (min-width: 380px) and (max-width: 420px) {
    
}
@media only screen and (max-width: 320px){
    #slogan{font-size: 16px;}
}