#advantage{margin:0 20px 10px 20px;padding-top:20px;}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;z-index: 1;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}
.owl-carousel .owl-item{float:left;}
.owl-controls .owl-page, .owl-controls .owl-buttons div{cursor:pointer;}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.grabbing{cursor:url(grabbing.png) 8 8, move;}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);}
.our-listing{position:relative;z-index:98;top:0;text-align:center;left:0;margin-top:-50px;}
@media screen and (min-width:240px){.our-listing{margin-top:0;}
}
@media screen and (min-width:992px){.our-listing{margin-top:0;}
}
.list-item{text-align:center;overflow:hidden;margin:0;padding:0 22px;}
.list-item .hover{position:absolute;left:0;top:0;width:100%;height:100%;padding:0 22px;text-align:center;display:none;}
.list-item img{width:100%;height:100%;}
.thumbnail-recent_home_slide{width:100%;height:120px;background-size:auto auto !important;background-position:center center!important;background-repeat:no-repeat !important;}
.list-item .name{color:#b31f24;text-align:center;padding:8px 0;text-transform:uppercase;font-size:15px;line-height:20px;height:48px;overflow:hidden;}
.list-item .list-thumb{overflow:hidden;}
.list-item .list-thumb img{height:80px;}
.list-item .list-thumb .title{text-transform:uppercase;font-size:22px;text-align:center;}
.list-item .list-thumb .title h4{color:#000;font-size:20px;height:60px;line-height:50px;padding-top:20px;font-weight:400;}
.list-item .list-content p.summary{color:#000;height:110px;font-size:15px !important;line-height:1.6em;}
.list-item .list-content span{color:#e54747;font-weight:300;text-transform:uppercase;margin:0 0 15px 0;}
.list-item .list-content a.view-btn{display:block;background:#ff9900;color:#fff;padding:6px;text-align:center;text-transform:uppercase;font-size:14px;font-weight:400;margin-top:10px;}
.list-item .list-content a.view-btn:hover{background-color:#666;color:#fff}
.owl-prev{position:absolute;top:0;width:60px;height:100%;background:url(../img/arr_prev.png) no-repeat;background-position:center center;}
.owl-next{position:absolute;top:0;width:60px;height:100%;background:url(../img/arr_next.png) no-repeat;background-position:center center;}
.owl-next{right:-60px;}
.owl-prev{left:-60px;}
.owl-theme .owl-controls{}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline;}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#898989;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background-color:#999;}
.owl-controls .owl-page.active span{background:#409047 !important;}
#owl-demo{text-align:center;position:relative;}
#owl-demo .owl-controls{position:absolute;left:0;bottom:5px;width:100%;top:0;}
#owl-demo img{max-width:100%;height:auto;margin:auto;}
.owl-origin{-webkit-perspective:1200px;-webkit-perspective-origin-x:50%;-webkit-perspective-origin-y:50%;-moz-perspective:1200px;-moz-perspective-origin-x:50%;-moz-perspective-origin-y:50%;perspective:1200px;}
.owl-fade-out{z-index:10;-webkit-animation:fadeOut .7s both ease;-moz-animation:fadeOut .7s both ease;animation:fadeOut .7s both ease;}
.owl-fade-in{-webkit-animation:fadeIn .7s both ease;-moz-animation:fadeIn .7s both ease;animation:fadeIn .7s both ease;}
.owl-backSlide-out{-webkit-animation:backSlideOut 1s both ease;-moz-animation:backSlideOut 1s both ease;animation:backSlideOut 1s both ease;}
.owl-backSlide-in{-webkit-animation:backSlideIn 1s both ease;-moz-animation:backSlideIn 1s both ease;animation:backSlideIn 1s both ease;}
.owl-goDown-out{-webkit-animation:scaleToFade .7s ease both;-moz-animation:scaleToFade .7s ease both;animation:scaleToFade .7s ease both;}
.owl-goDown-in{-webkit-animation:goDown .6s ease both;-moz-animation:goDown .6s ease both;animation:goDown .6s ease both;}
.owl-fadeUp-in{-webkit-animation:scaleUpFrom .5s ease both;-moz-animation:scaleUpFrom .5s ease both;animation:scaleUpFrom .5s ease both;}
.owl-fadeUp-out{-webkit-animation:scaleUpTo .5s ease both;-moz-animation:scaleUpTo .5s ease both;animation:scaleUpTo .5s ease both;}
@-webkit-keyframes empty{0%{opacity:1}
}
@-moz-keyframes empty{0%{opacity:1}
}
@keyframes empty{0%{opacity:1}
}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@-moz-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@-moz-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@-webkit-keyframes backSlideOut{25%{opacity:.5;-webkit-transform:translateZ(-500px);}
75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%);}
100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%);}
}
@-moz-keyframes backSlideOut{25%{opacity:.5;-moz-transform:translateZ(-500px);}
75%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%);}
100%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%);}
}
@keyframes backSlideOut{25%{opacity:.5;transform:translateZ(-500px);}
75%{opacity:.5;transform:translateZ(-500px) translateX(-200%);}
100%{opacity:.5;transform:translateZ(-500px) translateX(-200%);}
}
@-webkit-keyframes backSlideIn{0%, 25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%);}
75%{opacity:.5;-webkit-transform:translateZ(-500px);}
100%{opacity:1;-webkit-transform:translateZ(0) translateX(0);}
}
@-moz-keyframes backSlideIn{0%, 25%{opacity:.5;-moz-transform:translateZ(-500px) translateX(200%);}
75%{opacity:.5;-moz-transform:translateZ(-500px);}
100%{opacity:1;-moz-transform:translateZ(0) translateX(0);}
}
@keyframes backSlideIn{0%, 25%{opacity:.5;transform:translateZ(-500px) translateX(200%);}
75%{opacity:.5;transform:translateZ(-500px);}
100%{opacity:1;transform:translateZ(0) translateX(0);}
}
@-webkit-keyframes scaleToFade{to{opacity:0;-webkit-transform:scale(.8);}
}
@-moz-keyframes scaleToFade{to{opacity:0;-moz-transform:scale(.8);}
}
@keyframes scaleToFade{to{opacity:0;transform:scale(.8);}
}
@-webkit-keyframes goDown{from{-webkit-transform:translateY(-100%);}
}
@-moz-keyframes goDown{from{-moz-transform:translateY(-100%);}
}
@keyframes goDown{from{transform:translateY(-100%);}
}
@-webkit-keyframes scaleUpFrom{from{opacity:0;-webkit-transform:scale(1.5);}
}
@-moz-keyframes scaleUpFrom{from{opacity:0;-moz-transform:scale(1.5);}
}
@keyframes scaleUpFrom{from{opacity:0;transform:scale(1.5);}
}
@-webkit-keyframes scaleUpTo{to{opacity:0;-webkit-transform:scale(1.5);}
}
@-moz-keyframes scaleUpTo{to{opacity:0;-moz-transform:scale(1.5);}
}
@keyframes scaleUpTo{to{opacity:0;transform:scale(1.5);}
}